*{
   margin: 5px; 
   padding: 0;
   box-sizing: border-box;

}

   header{
    
    min-height: 20vh;
    background-image: url("../design1_image1_height333.jpg");
   
   }
   section{
    display: block;
    background-color: aquamarine;
    min-height: 5vh;
    

   }

section h2{
    display: inline-block;
}

#logo{
    margin: 0;
display: inline;
  width: 15%;
    position: relative;
}


