*{
   margin: 5px; 
   padding: 0;
   box-sizing: border-box;

}
body{
    background-color: beige;
}

   header{
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background-image: url("../design1_image1_height333.jpg");
   
   }
   h1{
    align-self: center;

    height: 3rem;
    width: 26rem;

    
    background-color: yellow;
    color: black;
    
    
   }

   section{
    display: flex;
    background-color: aquamarine;
    min-height: 5vh;
    position: relative;
    

   }

section h2{
    display: flex;
    position: relative;
    left: 35%;

}

#logo{
    margin: 0;
display: inline-block;
  height: 4rem;
    position: absolute;
    left: 83%;
    top: -29%;
    }

nav{
    min-width: 3rem;
    height: 12rem;
       display: flex;
       flex-direction: column;
            
       
       
}
nav a{
    color: rgb(21, 21, 148);
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
   padding-bottom: 5%;
   
    display: block;
}
a:hover{
    background-color: aqua;

    color: darkgoldenrod;
}
a:active{
    color: aqua;
}
a[href="#"]{
    color: rgb(88, 67, 11);
}
article{
    
    position: relative;
        
    display: block;
}

#imangen1{
    display: inline;
}
main{
    flex-wrap: wrap;
    padding-left: 0;
    display: flex;
}
p{
    
    
    display: block;
    position: relative;
    
}
h3{
   
    
    display: block;
    position: relative;
    
}
div{
    
    max-width: 110vh;
    display: inline-block;
}

table{
    background-color: azure;
    height: fit-content;

}



td{
    text-align: center;
    background-color:cadetblue;
    width: 8rem;
    height: 1rem;
}
#registrationForm{
    max-width: 39rem;
    display: inline-block;

}